In [4]:
import pandas as pd

In [7]:
pd.__version__

'0.23.4'

In [8]:
movies = pd.read_csv("movies.csv")

In [11]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
ratings = pd.read_csv("ratings.csv")

In [13]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [14]:
movies.shape

(9125, 3)

In [16]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [17]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [23]:
ratings.shape

(100004, 4)

In [19]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [24]:
len(ratings)

100004

In [25]:
movies.query("title == 'Godfather'")

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [29]:
 movies[movies.title.str.contains("Godfather")]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [35]:
god_father = movies[movies.title == "Godfather, The (1972)"]
god_father

     movieId                  title       genres
695      858  Godfather, The (1972)  Crime|Drama

In [34]:
ratings.query("movieId == '858'")

       userId  movieId  rating   timestamp
180         4      858     5.0   949779022
370         5      858     2.5  1163373651
602         8      858     5.0  1154400181
1140       15      858     5.0   997938703
2730       17      858     5.0  1127469000
3324       19      858     5.0   855191478
3564       20      858     2.0  1238729822
3678       21      858     4.0   853850728
3823       22      858     4.0  1131662354
4093       23      858     5.0  1148670263
4810       26      858     4.0  1360088089
5188       30      858     5.0   945113250
6071       31      858     4.5  1273720163
6350       34      858     4.0   973746463
6674       38      858     4.5  1389722583
7403       48      858     4.0  1367729182
8814       57      858     5.0   907765902
9087       59      858     5.0  1144756296
9154       60      858     5.0  1125829174
9535       65      858     5.0   945149894
9574       66      858     5.0   974600461
10039      72      858     4.5  1461778530
10377      73      858     5.0  1255584436
11898      75      858     1.0  1143048947
12392      78      858     4.5  1327288505
14190      93      858     4.5  1304991806
14343      94      858     4.5  1291781482
14906      97      858     3.0  1460342315
15441     102      858     5.0   956598493
16304     105      858     4.5  1085581604
...       ...      ...     ...         ...
87480     582      858     3.5  1122167716
87600     583      858     5.0  1430526121
87847     585      858     5.0   975363898
88210     587      858     5.0  1111102589
89103     594      858     5.0   938948387
89429     596      858     5.0  1138659368
90048     598      858     4.0  1057554666
90945     605      858     5.0   980177999
91308     606      858     5.0  1380350440
91472     607      858     4.5  1118247224
91859     608      858     5.0   958824554
92108     609      858     5.0  1029869771
92415     613      858     5.0  1208297869
92481     614      858     5.0  1003253843
92587     615      858     4.0  1408778570
92978     616      858     4.0   860573133
93656     624      858     5.0  1019124147
95346     626      858     5.0   974770048
95536     627      858     5.0  1201378600
95804     630      858     5.0  1443807838
95931     634      858     5.0  1309492488
96010     637      858     5.0  1343134393
96134     640      858     5.0   860951513
96329     643      858     5.0  1372518442
96632     647      858     5.0   947292218
96768     648      858     3.5  1138477822
97574     654      858     4.5  1145391858
98186     656      858     5.0   986241026
98522     659      858     5.0   860395342
98783     664      858     4.0  1343746801

[200 rows x 4 columns]

In [37]:
god_father_id = int(god_father.movieId)
god_father_id

858

In [38]:
ratings[ratings.movieId == god_father_id].shape

(200, 4)

In [39]:
avg_rating_by_movie_id = ratings.groupby("movieId").rating.agg(["mean", "count"])
avg_rating_by_movie_id.sample(10)

             mean  count
movieId
89774    3.900000      5
980      1.000000      1
3435     4.156250     32
4506     3.375000      4
308      4.159091     22
26422    5.000000      1
6628     3.000000      1
1100     2.578947     19
36553    3.000000      1
1854     4.000000      1